{
  "extends": "react-app",
  "rules": {
    "import/order": "warn",
    "jsx-a11y/href-no-hash": "off",
    "no-console": "warn",
    "valid-jsdoc": "warn"
  },
  "parserOptions": {
    "ecmaFeatures": {
      "legacyDecorators": true
    }
  }
}
